.card {
    width: 270px !important;
    height: 320px;
}

.card img {
    height: 240px;
}

.card-body {

    width: 270px;
    height: 80px;
    left: 135px;
    top: 584px;

    border-radius: 0px 0px 10px 10px;
}

.card p {

    height: 24px;
    left: 199px;
    top: 609px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}